<div class="page-title">
  <div class="container">

<h1 id="notice"><%= notice %></h1>

<div id="main-wrapper" class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6">
  
<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @lead.lastname %>
</p>

<p>
  <strong>Mercado:</strong>
  <%= @lead.company %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @lead.role %>
</p>

<p>
  <strong>Area:</strong>
  <%= @lead.area %>
</p>

<p>
  <strong>Mercado:</strong>
  <%= @lead.industry %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @lead.module %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lead.status %>
</p>

<p>
  <strong>Tipo de email:</strong>
  <%= @category.name %>
</p>


<button type="button" class="btn btn-default">
<%= link_to 'Editar', edit_lead_path(@lead) %></button>

<button type="button" class="btn btn-success">
<%= link_to 'Volver', leads_path %></button>

</div>
</div>
</div>
</div>

