<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @suscription.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @suscription.destroy %>
</p>

<%= link_to 'Edit', edit_suscription_path(@suscription) %> |
<%= link_to 'Back', suscriptions_path %>
